body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding-top: .5rem;
}

nav {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 1.25rem;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.125rem;
}

nav a:hover {
  color: #FFD700;
}

main {
  flex-grow: 1;
  /* Grow and take remaining space */
}

.solar-system {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.planet-container {
  margin: 0 10px;
  text-align: center;
  flex: 1 0 20%;
  /* Adjusted flex property */
}

.planet {
  width: 100px;
  height: 100px;
  margin-bottom: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.planet a {
  text-decoration: none;
  color: #333;
  display: block;
}

.planet a:hover {
  color: #FFD700;
}

.planet-name {
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-top: 5px;
}

.solar-system {
  margin-top: 2rem;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  padding-bottom: .0125rem;
}

footer p {
  margin: .125rem;
}


